@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Gmarket Sans Light'), local('GmarketSans-Light'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.red-text {
    color: red;
}
.button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.darkblack_background {
    background-color: #202020;
    color: white;
}

.black_background{
    background-color: #2C2C2C;
    color: white;
}

.white_background {
    background-color: white;
    color: black;
}

.CodeMirror {
    border-top: 1px solid white;
    font-size: 20px;
}

.theme_background {
    background-color: #FF3598;
    color: white;
}

.basic_font_family {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.gs_font_family {
    font-family: 'Gmarket Sans', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.fullsize {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.nomargin {
    margin: 0;
}

.font-light {
    font-weight: lighter;
}

.font-bold {
    font-weight: bolder;
}

.font-reg {
    font-weight: 400;
    white-space: nowrap;
}

.nav_margin {
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_vertical_center {
    display: flex;
    align-items: center;
}

.flex_horizonal_center {
    display: flex;
    justify-content: center;
}

.sweet_morning {
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section1_a {
    text-decoration: none;
    animation-iteration-count: 10;
    color: white;
    font-size: 1em;
    transition: 0.3s;
    padding: 0;
}

.section1_a:hover {
    color: black;
    background-color: white;
    padding: 10px;
}

.nav_a {
    text-decoration: none;
    animation-iteration-count: 10;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    padding: 0;
}

.nav_a:hover {
    color: black;
    background-color: white;
    padding: 10px;
}

.cm-invalidchar {
    display: none;
}
